#Title{
    margin-top: 50px;
}

#LinkText{
    font-size: 30px;
}
#problemText{
    font-size: 40px;
}
#probimg{
    border-radius: 9px;
    box-shadow: 20px 11px 16px 0px rgba(0,0,0,0.75);
}
#imgcard{
    border-radius: 9px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
    margin: 10px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  img {
    border-radius: 5px 5px 0 0;
  }
  
  .container {
    padding: 2px 16px;
  }
.card_about {
    box-shadow: 20px 11px 16px 0px rgba(0,0,0,0.75);
    transition: 0.3s;
    width: 90%;
    border-radius: 5px;
    margin: 10px;
  }
  
  
  
#Tools{
      display: flex;
      flex-wrap: wrap;
  }

#Hardware{
    display: flex;
    flex-wrap: wrap;
}
#problemText2{
    font-size: 40px;
}

#ConvText{
    font-size: 40px;
}

#Quote{
    font-size: 30px;
    font-style: italic;
    margin: 10px;
}
#solutionText{
    font-size: 40px;
}

#Hardware_Msg{
    font-weight: bold;
    font-size: 40px;
}
#conclusionText{
    font-size: 40px;
}